.profile__topSection1 {
  background-color: rgb(221, 214, 214);
  height: fit-content;
  margin-top: 0px;
  margin-left: 0px;
}

.profile__coverPhoto2 {
  background-color: orange;
  margin-left: 15%;
  margin-right: 15%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 0;
  max-width: 100%;
}

.profileAvatar1 {
  height: 160px !important;
  width: 160px !important;
  border: 5px solid white;
  bottom: -20px;
  margin-bottom: 20px;
  user-select: none !important;
  -moz-user-select: none !important;
  -webkit-user-drag: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none;
  border-radius: 200px;
  cursor: pointer;
}

.inputImage1 {
  display: none;
}

.modalInit h1 {
  color: black !important;
}

.profileHead2 p {
  color: white;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.profileHead2 {
  display: flex;
  flex-direction: column;
}

.profileHead2 button {
  background-color: #1e87dc;
  border: none;
  width: 100px;
  height: 40px;
  color: white;
  font-size: 15px;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer;
  transition: 0.2s;
  outline: none;
  margin-bottom: 20px;
}

.profileHead2 button:hover {
  background-color: #2276bb;
}

.buttons {
  display: flex;
  margin-left: 30%;
  flex-direction: row;
}

.progress {
  margin-left: 40px;
  margin-bottom: 10px;
}

.profile__topSection1 h1 {
  text-align: center;
  font-size: 32px;
  color: white;
  font-weight: 700;
  margin-top: 10px;
}

.bio1 {
  text-align: center;
  color: #2e89ff;
  font-size: 15px;
  padding-bottom: 10px;
}

.bio1:hover {
  text-decoration: underline;
  cursor: pointer;
}

.hr4 {
  height: 1px;
  width: 100%;
  background-color: #3e4042;
  margin-left: 15%;
  margin-right: 15%;
}

.profileHeader__options1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profileHeader__left ul {
  display: flex;
  flex-direction: row;
}

.profileHeader__left ul li {
  margin: 0;
  font-size: 15px;
  color: #b0b3b8;
  font-weight: 600;
  border-radius: 5px !important;
  margin-bottom: 10px;
}

.profileHeader__left ul li:hover {
  background-color: rgb(70, 187, 226) !important;
  color: white;
}

.profileHeader__left ul .selected {
  color: #2e89ff;
  border-radius: 0px !important;
  border-bottom: 3px solid #2e89ff;
  margin-left: 0%;
  margin-bottom: 0px !important;
}

.profileHeader__left ul .selected:hover {
  background-color: lightblue !important;
}

.rect img {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  -webkit-filter: invert(100%);
}

.rect {
  background-color: #67a5e2;
  padding-right: 5px;
  border-radius: 10px;
  margin-bottom: 25px !important;
  margin-left: 10px !important;
}

.rect p {
  color: white;
  width: 80px;
}

.rect.addFriend1 {
  padding-left: 20px !important;
  padding-right: 20px !important;
  background-color: orange;
}

.postsAndIntro1 {
  display: flex;
  flex-direction: row;
}

.postAndWatch1 {
  display: flex;
  flex-direction: column;
  flex: 0.6;
  margin-left: 20px;
}

.bioFields {
  display: none;
  flex-direction: column;
  place-items: center;
}

.bioFields1 p {
  font-weight: 400;
  font-size: 15px;
  color: gray;
  float: right;
  margin-left: 40px;
}

.saveButton1 {
  opacity: 0.4;
  outline: none;
  background-color: rgb(88, 126, 223);
}

.saveButton1:hover {
  background-color: white;
}

.bioText1 {
  text-align: center;
  color: black;
}
.imageView {
  object-fit: cover;
  max-width: 100%;
  max-height: 50%;
}
img {
  max-width: 100%;
  max-height: 100%;
}

.profile1 {
  width: 100%;
}
