.videoCard {
  margin-bottom: 10px;

  width: 270px;
  margin-right: 20px;
}
.videoCard__thumbnail {
  height: 200px;
  width: 100%;
  object-fit: contain;
  border: 1px lightgray solid;
  box-shadow: lightslategray;
  cursor: pointer;
}
.videoCard__info {
  display: flex;
  padding-right: 10px;
  cursor: pointer;
}
.videoCard__text {
  margin-left: 1px;
  cursor: pointer;
}
.videoCard__text > h4 {
  font-size: 14px;
  cursor: pointer;
}
.videoCard__text > p {
  font-size: 14px;
  color: gray;
  margin-top: 5px;
  cursor: pointer;
}
.videoCard__Avatar {
  height: 30px !important;
  width: 30px !important;
}
